.mormon-container {
    background-color: #1E1E1E;
    color: white;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.mormon-navbar {
    display: flex;
    justify-content: space-between; /* Igual que en .navbar de home.css */
    align-items: center; /* Igual que en .navbar de home.css */
    padding: 20px 5%; /* Igual que en .navbar de home.css */
}

.mormon-logo {
    text-align: left;
}

.mormon-logo a {
    text-decoration: none; /* Igual que en .logo a de home.css */
}

.mormon-logo h1 {
    font-weight: 900; /* Igual que en .logo h1 de home.css */
    font-size: 3rem; /* Igual que en .logo h1 de home.css */
    color: white; /* Igual que en .logo h1 de home.css */
    
}

.mormon-logo h3 {
    font-weight: 400; /* Igual que en .logo h3 de home.css */
    font-size: 1rem; /* Igual que en .logo h3 de home.css */
    color: white; /* Igual que en .logo h3 de home.css */
    margin-top: -7%; /* Igual que en .logo h3 de home.css */
    
}

.mormon-titulo,
.mormon-subtitulo {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centramos como en home.css */
    font-family: 'Inter', sans-serif;
}

.mormon-titulo {
    margin-top: 20px; /* Espacio desde el navbar */
}

.mormon-titulo h2 {
    font-size: 4.5rem;
    font-weight: 900;
    
}

.mormon-subtitulo {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-top: -40px; /* Más pegado al título "LIBRO DE MORMÓN" */
}

.mormon-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; /* Centramos como en home.css */
}

.mormon-video {
    flex: 1;
    width: 60%;
    max-width: 720px;
}

.mormon-video iframe {
    width: 100%;
    height: 405px;
    border: none;
}

.mormon-texto {
    flex: 1;
    width: 40%;
    max-width: 480px;
    font-size: 1rem;
    line-height: 1.5;
    color: #E0E0E0;
    text-align: left;
    margin-top: 0;
}

.mormon-titulo-texto {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.mormon-texto ul {
    padding-left: 20px;
    list-style: none;
}

.mormon-texto ul li {
    margin-bottom: 10px;
}

.mormon-texto ul li::before {
    content: "•";
    color: white;
    margin-right: 8px;
    font-size: 1.2rem;
}

.mormon-imagenes-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; /* Centramos como en home.css */
}

.mormon-imagen-frame {
    width: 33%;
    max-width: 400px;
}

.mormon-imagen-frame img {
    width: 100%;
    height: auto;
    display: block;
}

.mormon-copyright {
    padding: 20px 5%; /* Igual que en .copyright de home.css */
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}